{{this}}
<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>Filesize</th>
    </tr>
  </thead>
  <tbody>
    {{#each files}}
    <tr>
      <td>{{this}}</td>
      <td>0</td>
    </tr>
    {{/each}}
  </tbody>
</table>
